# Ignore pycache directories
**/__pycache__/
__pycache__/
.venv/

# Ignore misc. files
*.csv
*.egg-info/
.DS_Store
build/
dist/

# Ignore directories and files with "images" in their name
output/

venv/
